@import '@fontsource/ibm-plex-mono';
@import '@fontsource-variable/ibm-plex-sans';
@import 'tailwindcss';
@plugin "@tailwindcss/typography";

@theme {
  --font-sans: 'IBM Plex Sans Variable', sans-serif;
}

body {
  background-color: #f5f6fa;
  font-family: 'IBM Plex Sans Variable', sans-serif;
  font-weight: 400;
  line-height: 1.45;
  color: #333;
  margin: 1rem;
}

.prose a {
  @apply bg-blue-100 text-black px-1;
  &:visited {
    opacity: 0.8;
  }
  &:hover {
    @apply bg-amber-300 text-black;
  }
}
