---
import Repos from '../components/Repos';
import Layout from '../layouts/Layout.astro';
import Hello from '../components/Hello.mdx';
---
<Layout>
    <div class="prose prose-neutral max-w-none pb-4">
        <Hello />
    </div>
    <Repos client:load/>
</Layout>
