doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title= title
    link(href='https://fonts.googleapis.com/css?family=Alegreya', rel='stylesheet', type='text/css')
    style
      include:css ../static/style.css
  body
    #container
      if title
        h1 title
      != content